<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Vérification d'e-mail</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    h1 {
      color: #333;
    }

    p {
      color: #666;
      margin-bottom: 15px;
    }

    a {
      display: inline-block;
      padding: 10px 20px;
      background-color: #4CAF50;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
    }

    a:hover {
      background-color: #177717;
    }
  </style>
</head>
<body>
<h1>Vérification d'e-mail</h1>
<p>Bonjour <span th:text="${firstName}"></span> <span th:text="${lastName}"></span>,</p>
<p>Nous vous remercions de votre inscription.</p>
<p>Pour finaliser votre adhésion, veuillez cliquer sur le lien ci-dessous pour vérifier votre adresse e-mail :</p>
<p><a href="#" th:href="@{|${urlPrefix}/user/action/validation/${verificationLink}|}" target="_blank">Lien de vérification</a></p>
</body>
</html>
